# Configfile example conifiguration

# comment

[LOGGING]
    # Allowed LOGLEVEL
    # DEBUG, WARNING, ERROR, CRITICAL
    LOGLEVEL = DEBUG
    LOGFILE = myStrom2mqtt.log
   # LOGMODE = LOGFILE
    LOGMODE= SYSLOG
    LOGSERVER= 192.168.20.205

[BROKER]
  HOST= 192.168.2.50
 # HOST = broker.hivemq.com
  PORT= 1883
  PUBLISH= /OPENHAB/VIESSMANN
  SUBSCRIBE = /VIESSMANN01

[VCONTROLD]
   HOST = 127.0.0.1
#   HOST = 192.168.1.104
   PORT = 3002

[COMMANDS]
   COMMANDLIST = 'getTempKsoll','getTempAbgas','getTempVListM1','getTempVListM2','getTempRL17A','getPumpeStatusM1','getPumpeStatusM2','getPumpeStatusIntern','getPumpeDrehzahlIntern','getPumpeStatusZirku','getStatusStoerung','getTempA','getTempAtp','getTempWWist','getTempWWsoll','getTempStp2','getWWUWPNachlauf','getSpeichervorrang','getTempKist','getVolStrom','getBrennerStunden1','getSystemTime','getBrennerStarts','getTempVLsollM1','getTempVLsollM2','getTempRaumNorSollM1','getUmschaltventil','getLeistungIst','getTempKtp','getNeigungM1','getNeigungM2','getNiveauM1','getNiveauM2','getTempStp','getPumpeDrehzahlM2','getPumpeStatusSp','getPumpeStatusZirku','getTempSTSSOL','getBetriebArtM1','getBetriebArtM2','getStatusFrostM1','getStatusStoerung','getKA5','getKA6','getDevType','getCtrlId','getInventory','getAnlagenschema','getKsCardType','getPanelSWIndex','getInvCodePlug'


